body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.head1 {
  text-align: center;
  background: black;
  color: white;
  border-radius: 0;
  padding: 10px;
}

.card-body {
 border-style: solid;
 border-radius: 0;
 border-color: black;
 padding: 10px;
}

.five-day {
 border-radius: 0;
 border-color: black;
 padding: 10px;
}

.btn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  width: 120px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
